.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  
}

body{
  background-color:#2C7865;
  color: white;
}
/* DYSPLAY DE ESCRITORIO */
.header {
  background-color: rgba(44, 120, 101, 1);
  color: whitesmoke;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navegacion {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-right: 20px;
  padding: 0.7rem 20px;
  
}

.logo {
  text-decoration: none;
  color: #d9edbf;
  font-weight: 700;
  font-size: 1.2rem;
}

.avionLogo {
  width: 33px;
 
}

.listaNav{
    list-style: none;
    display: flex;
    align-items: center;
}

.listaItem{
  margin-right: 22px;
}

.linkNav{
  text-decoration: none;
  color: #D9EDBF;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0.4rem 0.4rem;
}

.linkNav:hover{
  background-color: #D9EDBF;
  color:#2C7865;
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: ease 0.5s;
}

.linkNavInicioSesion{
  font-weight: 300;
  text-decoration: none;
  padding: 0.4rem 0.4rem;
  background-color: #D9EDBF ;
  color: #2C7865;
  border-radius: 3px;
}
  
.linkNavInicioSesion:hover{
  background-color: #FF9800;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: ease 0.5s;
}
      
  /* DISPLAY CELULAR Y TABLET */
 @media (max-width: 768px) {
 
    .header{
      height: initial;
      
    }
    .navegacion{
      margin-left:30px;
      margin-right: 0px;
      flex-direction: column;
      row-gap: 1px;
     }
       
    .logo{
       font-size: 1.3rem;
       font-weight:700;
       margin-right: 44px;
     }

    .listaNav{
      padding:initial;
    }
     .listaItem .linkNav{
      font-weight: 400;
      margin-right: initial;
      font-size: 1rem;
     padding: 0.3rem;   
    } 
    .linkNavInicioSesion{
      display: flex;
      padding: 0.3rem 0.3rem;

    }

    
}
      
  /*MAIN ESCRITORIO*/
    .sectionPrincipal{
      color: whitesmoke;
      background:linear-gradient(to right top, #0000008a, #0000008a), url(img/background2.jpg);
      background-size: cover;
      background-position: center;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .tituloPrincipal{
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-shadow: 4px black;
      transition: ease 0.8s;
      
    }
    .tituloPrincipal:hover{
      color: transparent;
      -webkit-text-stroke: 0.1px whitesmoke;
      transition: ease-out 0.8s;
      
    }
    .subtituloPrincipal{
      font-size: 1.7rem;
      font-weight: 100;
      margin-bottom: 1rem;
      transition: ease 0.8s;
    }
    
    .botonRegistrarse{
      background-color: #D9EDBF;
      color: #2C7865;
      padding: 0.9rem 1.3rem;
      border-radius: 30px;
      border: 1px solid #D9EDBF;
      font-size: 1.3rem;
      font-weight: 700;
      text-decoration: none;
      transition: ease 0.8s;
      
    }
    .botonRegistrarse:hover{
      background-color: transparent;
      border:1px solid #FF9800;
      color: #FF9800;
      transition: ease-in-out 0.4s;
      box-shadow: 0 0 10px rgba(227, 137, 18, 0.3);
    }
  
  
